        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #000000;
            color: #fff;
        }
        header {
            background-color: #4b3832;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }
        nav {
            display: flex;
            justify-content: space-around;
            background-color: #2d2926;
            padding: 10px 0;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
            cursor: pointer;
        }
        .container {
            background-image: url('BG1.jpg');
            background-size: cover;
            background-position: center;
            padding: 100px 20px;
            text-align: center;
            position: relative;
        }
        .content {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 40px;
            border-radius: 10px;
            display: inline-block;
        }
        .content h1 {
            font-size: 3em;
            margin: 0;
        }
        .content p {
            font-size: 1.2em;
            margin: 20px 0;
        }
        .content a {
            background-color: #c9a66b;
            color: #000000;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }
        .card-container {
            display: flex;
            justify-content: space-around;
            padding: 20px;
        }
        .card {
            background-color: #4b3832;
            border-radius: 10px;
            overflow: hidden;
            width: 30%;
            margin: 20px 0;
        }
        .card img {
            width: 100%;
            height: auto;
        }
        .card-content {
            padding: 20px;
            text-align: left;
        }
        .card-content h3 {
            margin-top: 0;
        }
        .card-content p {
            font-size: 0.9em;
        }
        .card-content a {
            display: inline-block;
            margin-top: 10px;
            color: #c9a66b;
            text-decoration: none;
        }
        footer {
            background-color: #2d2926;
            color: #fff;
            text-align: center;
            padding: 20px 0;
            position: relative;
            bottom: 0;
            width: 100%;
        }
        @media (max-width: 768px) {
        .card, .menu-item {
        width: 100%;
        margin-bottom: 20px;
        }
        nav {
        flex-direction: column;
        }
        }